.start-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
}
.modal-splash-screen-on {
  background: url("../../assets/pictures/beer-anim2.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  font-size: 5rem;
}

.modal-splash-screen-off {
  display: none;
}
