nav {
  position: fixed;
  bottom: 0;
  background-color: gold;
  width: 100vw;
  text-align: center;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
