@font-face {
  font-family: robotoslab;
  src: url("./Robotoslab.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: robotoslab;
}
img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}
h2 {
  font-size: 3rem;
}
p {
  font-size: 1.6rem;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: black;
}
